.assentos-container {
    max-width: 800px;
    /* margin: 0 auto; */
    text-align: center;
  }
  
  .assentos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espaçamento entre assentos */
    margin-top: 20px;
  }
  
  .assento {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    /* border: 1px solid #ccc; */
    border-radius: 50%; /* Borda arredondada para formato de bolinha */
    cursor: pointer;
    background-color: #f0f0f0; /* Cor de fundo padrão */
    color: #333; /* Cor do texto padrão */
  }
  
  .assento.disponivel {
    background-color: #f0f0f0; /* Cor de fundo para assentos disponíveis */
    color: #333; /* Cor do texto para assentos disponíveis */
  }
  
  .assento.ocupado {
    font-weight: 100;
    background-color: #5c5c5c; /* Cor de fundo para assentos ocupados */
    color: #000000; /* Cor do texto para assentos ocupados */
  }
  