.assentos-container {
  text-align: center;
  margin: 20px;
  margin-top: 0;
}

.assentos-grid {
  display: grid;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.assento, .grid-label {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ccc; */
  border-radius: 20%;
  background-color: transparent;
  font-size: 18px;
}
.assento {
  border: none;
}
.assento.disponivel {
cursor: pointer;
  
  background-color: #ffffff; /* verde claro */
}

.assento.ocupado {
  background-color: #5e5e5e; /* vermelho claro */
  color: #fff;
}

.grid-label {
  color: #c9c9c9;
  font-size: 12px;
  background-color: transparent;
  border: none;
}
.legenda {
  text-align: left;
}
.assento-disponivel {
  width: 20px;
  height: 20px;
  border-radius: 20%;
  background-color: #fff;
}
.col-assento {
  
  display: flex;
  gap: 10px;
}
.legenda {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.assento-indisponivel {
  width: 20px;
  height: 20px;
  border-radius: 20%;
  background-color: #5e5e5e;

}